<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 边框表格</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-bordered">
	<caption>石油基金</caption>
	<thead>
		<tr>
			<th>序号</th>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>占净值比例</th>
			<th>权重</th>
			<th>8月11日</th>
			<th>8月12日</th>
			<th>8月13日</th>
			<th>8月14日</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>XOM.US</td>
			<td>埃克森美孚</td>
			<td>8.97%</td>
			<td>19.466%</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
		</tr>
		<tr>
			<td>2</td>
			<td>CVX.US</td>
			<td>埃克森美孚</td>
			<td>8.97%</td>
			<td>19.466%</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Total.SA</td>
			<td>埃克森美孚</td>
			<td>8.97%</td>
			<td>19.466%</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
			<td>?</td>
		</tr>
	</tbody>
</table>

</body>
</html>